@charset "utf-8";
/* CSS Document */
body{
   background-color:#f8f7fd;
   margin:0px;
   padding:0px;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
}
section{
  width:100%;
  height:95vh;
  background-image:url("wisteriabg.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
}
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:60px;
  background-color:#FFFFFF;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  padding:0px 5%;
}
nav ul{
  display:flex;
}
nav ul li a{
  margin: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #505050;
  font-size:20px;
  font-weight:700;
  padding: 3px 7px;
}
nav ul li a:hover, nav ul li a.active{
  background: #6f64aa;;
  color: #ffffff;

  border-radius: 20px;
}

.logo{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000000;
  font-size:22px;
  font-weight:900;
}
.text-container p:nth-child(1){
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;
  color:#6f64aa;
  font-size: 22px;
}
.text-container p:nth-child(2){
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;
  letter-spacing:1px;
  color:#414146;
  font-size: 60px;
}
.text-container p:nth-child(3){
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:#5c5c73;
  font-size: 30px;
  line-height:30px;
}
.text-container p{
  line-height:0px;
  margin:44px 0px 25px;
}
.text-container{
  position: absolute;
  left:28%;
  top:42%;
  transform:translate(-13%,-42%);
}
.goodPic{
  height:350px;
  position: absolute;
  bottom:120px;
  left:68.5%;
  transform:translateX(-70%);
  clip-path: circle();
}
.announce-container{
  width:55%;
  height:50px;
  background-color:#FFFFFF;
  border-radius:20px;
  box-shadow 2px 2px 12px rgba(0,0,0,0.2)
  display: flex;
  margin-top: -6%;
  margin-left: 23%;
  justify-content: space-evenly;
  align-items: center;
}
.announce-text{
  width:800px;
}
.announce-text p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:23px;
  margin-left: -12%;
  padding-top: 17px;
}
.about-container{
  width:70%;
  height:450px;
  background-color:#FFFFFF;
  border-radius:20px;
  box-shadow 2px 2px 12px rgba(0,0,0,0.2)
  margin-top: 10%;
  margin-left: 15%;
  align-items: center;
}
.about-text{
  width:870px;
}
.about-text p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:35px;
  margin-left: 3%;
  padding-top: 20px;
}
.about-text p:nth-child(2){
  color:#403e3e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size:25px;
  margin-left: 3%;
  margin-top: -3%;
}
.about-text p:nth-child(3){
  color:#403e3e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size:25px;
  margin-left: 3%;
  margin-top: -3%;
  margin-bottom: 3%;
}
.jamesPic{
  height:170px;
  position: relative;
  margin-left: 8.5%;
}
.indyPic{
  height:170px;
  position: relative;
}
.lunaPic{
  height:170px;
  position: relative;
}
.kodiPic{
  height:170px;
  position: relative;
}

.hobbies-container{
  width:355px;
  height:50%;
  background-color:#FFFFFF;
  border-radius:20px;
  box-shadow 2px 2px 12px rgba(0,0,0,0.2)
  margin-top: 10%;
  margin-left: 17%;
  align-items: center;
}
.hobbies-text{
  width:350px;
}

.hobbies-text p:nth-child(1){
  color:#403e3e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size:25px;
  margin-left: 3%;
  margin-top: 7%;
}
.hobbies-title p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:35px;
  margin-left: 46%;
  margin-top: -20%;
}
.sabito{
  height:317px;
  position: absolute;
  margin-left:2%;
  margin-top:0;
}
.lakeSit{
  height:317px;
  position: absolute;
  margin-left:49%;
  margin-top:-23%;
}
.beach{
  height:220px;
  position: absolute;
  margin-left:69%;
  margin-top:-270px;
}
.ramen{
  height:150px;
  position: absolute;
  margin-left:32%;
  margin-top: 15px;
}
.gym{
  height:180px;
  position: absolute;
  margin-left:20%;
  margin-top:0px;
}
.concert{
  height:150px;
  position: absolute;
  margin-left:7%;
  margin-top: 7px;
}
.formal{
  height:180px;
  position: absolute;
  margin-left:68%;
  margin-top:-23px;
}
.wolf{
  height:130px;
  position: absolute;
  margin-left:50%;
  margin-top: 40px;
}
.lolCat{
  height:170px;
  position: absolute;
  margin-left:81%;
  margin-top: -10px;
}

.photos-text p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:35px;
  margin-left: 39%;
  padding-top: 20px;
}
.photos-text p:nth-child(2){
  color:#403e3e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size:25px;
  margin-left: 31%;
  margin-top: -2%;
}
.photos-container{
  width:95%;
  height:630px;
  background-color:#FFFFFF;
  border-radius:20px;
  box-shadow 2px 2px 12px rgba(0,0,0,0.2)
  margin-top: 10%;
  margin-left: 2.5%;
  align-items: center;
}
.photos-contents{
  width:100%;
}
.photos-contents p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:5px;
  margin-left: 37%;
  padding-top: 10px;
}
.g1{
  height:170px;
  position: relative;
  margin-left: 1.5%;
}
.g2{
  height:170px;
  position: relative;
}
.g3{
  height:170px;
  position: relative;
}
.g4{
  height:170px;
  position: relative;
}
.g5{
  margin-left: 20%;
  height:201px;
  position: relative;
}
.g6{
  height:201px;
  position: relative;
}
.g7{
  height:201px;
  position: relative;
}
.g8{
  height:201px;
  position: relative;
}
.g9{
  margin-left: 1.5%;
  height:201px;
  position: relative;
}
.g10{
  height:201px;
  position: relative;
}
.g11{
  height:201px;
  position: relative;
}
.g12{
  height:201px;
  position: relative;
}

.art-text p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:35px;
  margin-left: 47%;
  padding-top: 20px;
}
.art-text p:nth-child(2){
  color:#403e3e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size:25px;
  margin-left: 28%;
  margin-top: -2%;
}
.art-container{
  width:95%;
  height:820px;
  background-color:#FFFFFF;
  border-radius:20px;
  box-shadow 2px 2px 12px rgba(0,0,0,0.2)
  margin-top: 10%;
  margin-left: 2.5%;
  align-items: center;
}
.art-contents{
  width:100%;
  margin-top: -3%
}
.art-contents p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:5px;
  margin-left: 39%;
}

.a1{
  height:250px;
  position: relative;
  margin-left: 1.5%;
  margin-top: 1%;
}
.a2{
  height:240px;
  position: relative;
  margin-left: -10px;
}

.a4{
  height:180px;
  position: relative;
  margin-left: -10px;
  margin-bottom: 40px;
}
.a5{
  height:200px;
  position: relative;
  margin-left: 0px;
  margin-bottom: 40px;
}

.a6{
  height:220px;
  position: relative;
  margin-left: 3%;
  margin-bottom: 20px;
}
.a7{
  height:250px;
  margin-left: -20px;
  position: relative;
  margin-bottom: 10px;
}
.a8{
  height:250px;
  position: relative;
  margin-bottom: 20px;
}
.a9{
  height:250px;
  margin-left: 30px;
  position: relative;
  margin-bottom: 20px;
}

.a10{
  height:260px;
  position: relative;
  margin-left: 1.5%;
}
.a11{
  height:180px;
  position: relative;
}
.a12{
  height:260px;
  position: relative;
}


hr.solid {
  border-top: 3px solid #bbbb;
  width: 895px;
}
.about-text p:nth-child(4){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:35px;
  margin-left: 3%;
}
.about-text p:nth-child(5){
  color:#403e3e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-size:25px;
  margin-left: 3%;
  margin-top: -3%;
}
.LTTClogo{
  height: 200px;
  margin-top: -20%;
  margin-left: 68%;
  position: relative;
}

.future-container{
  width:70%;
  height:20%;
  background-color:#FFFFFF;
  border-radius:20px;
  box-shadow 2px 2px 12px rgba(0,0,0,0.2)
  margin-top: -10%;
  margin-left: 14%;
  align-items: center;
}
.future-text{
  width:880px;
}

.future-text p:nth-child(1){
  color:#403e3e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size:25px;
  margin-left: 3%;
  margin-top: 0%;
}
.future-title p:nth-child(1){
  color:#403e3e;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size:70px;
  margin-left: 37%;
  margin-top: 3%;
  margin-bottom: 1%;
}
.cheetah{
  height: 230px;
  position: absolute;
  margin-left: 8%;
  margin-top: 3%;
}
.house{
  height: 230px;
  position: absolute;
  margin-left: 28.5%;
  margin-top: 3%;
}
.lfa{
  height: 230px;
  position: absolute;
  margin-left: 67%;
  margin-top: 3%;
}


.top{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top::before{
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 10;
}

.top img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.top #text{
  position: absolute;
  font-size: 10vw;
  color: #094b65;
  text-align: center;
  line-height: 0.55em;
  font-family: 'Rancho', cursive;
  transform: translateY(-50%);

}
.top #text span{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}


.sec{
  position: relative;
  padding: 100px;
  background: #094b65;
}
.sec h2{
  margin-top: -100px;
  font-size: 7vw;
  font-family: 'Rancho', cursive;
  color: #ffffff;
  margin-bottom: 7px;
}
.sec h1{
  margin-top: 10px;
  font-size: 3vw;
  text-align: center;
  font-weight: 300;
  font-family: 'Rancho', cursive;
  color: #ffffff;
  margin-bottom: 7px;
}
.sec p{
  font-size: 2em;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.clickMe{
  position: relative;
  width: 270px;
  height: 270px;
}
.closed{
  margin-left: 35%;
  width: 300px;
  height: 300px;
  background: url(closed.png) no-repeat;
}
.open{
  margin-left: 35%;
  width: 300px;
  height: 300px;
  background: url(open.png) no-repeat;
}
